<div class="chapter-list">
    <h2>Liste des chapitres</h2>
    <h2 class="name-manga">{{this.mangaName}}</h2>
    <button class="follows-button-unfollow" (click)="followButtonClicked()" >Mettre en favorie</button>

    <table>
        <thead>
            <tr>
                <th *ngIf="chaptersEN.length !== 0">Chapitre en anglais</th>
                <th *ngIf="chaptersFR.length !== 0">Chapitre en français</th>
            </tr>
        </thead>
        <tbody class="chapter-body">
            <tr *ngIf="chaptersEN.length !== 0 || chaptersFR.length !== 0">
                <td *ngIf="chaptersEN.length !== 0" class="chapter-column">
                    <div *ngFor="let item of chaptersEN" class="chapter-row">
                        <a (click)="onChapterClickEN(item)" class="chapter-link">Chapitre : {{ item.number }}</a>
                    </div>
                </td>
                <td *ngIf="chaptersFR.length !== 0" class="chapter-column">
                    <div *ngFor="let item of chaptersFR" class="chapter-row">
                        <a (click)="onChapterClickFR(item)" class="chapter-link">Chapitre : {{ item.number }}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
