<h2>Liste des chapitres</h2>
<table>
    <thead>
        <tr>
          <th *ngIf="chaptersEN.length != 0">Chapitre en anglais</th>
          <th *ngIf="chaptersFR.length != 0">Chapitre en francais</th>
        </tr>
    </thead>
    <td>
        <tr *ngFor="let item of chaptersEN">
            <a (click)="onChapterClickEN(item)">Chapitre : {{ item.number }}</a>
            <br>
            <br>
        </tr>
    </td>
    <td>
        <tr *ngFor="let item of chaptersFR">
            <a (click)="onChapterClickFR(item)">Chapitre : {{ item.number }}</a>
            <br>
            <br>
        </tr>
    </td>
</table>