<div class="manga-header">
  <div class="manga-cover">
    @if (mangaCover) {
      <img [src]="mangaCover" alt="cover" />
    }
  </div>
  <div class="manga-info">
    <h2 class="manga-title">{{ mangaName }}</h2>
    <div class="manga-description">{{ mangaDescription }}</div>
    @if (authService.isLoggedIn) {
      @if (isSubscribed) {
        <button class="subscribe-btn unsubscribe" (click)="onUnsubscribe()">
          <span class="material-icons">bookmark_remove</span> Se désabonner
        </button>
      } @else {
        <button class="subscribe-btn" (click)="onSubscribe()">
          <span class="material-icons">bookmark_add</span> S'abonner
        </button>
      }
    }
  </div>
</div>

<div class="chapter-list">
  <h2>Liste des chapitres</h2>
  <table>
    <thead>
      <tr>
        @if (chaptersEN.length !== 0) {
          <th>Chapitre en anglais</th>
        }
        @if (chaptersFR.length !== 0) {
          <th>Chapitre en français</th>
        }
      </tr>
    </thead>
    <tbody class="chapter-body">
      @if (chaptersEN.length !== 0 || chaptersFR.length !== 0) {
        <tr>
          @if (chaptersEN.length !== 0) {
            <td class="chapter-column">
              @for (item of chaptersEN; track item) {
                <div class="chapter-row">
                  <a (click)="onChapterClickEN(item)" class="chapter-link">Chapitre : {{ item.number }}</a>
                </div>
              }
            </td>
          }
          @if (chaptersFR.length !== 0) {
            <td class="chapter-column">
              @for (item of chaptersFR; track item) {
                <div class="chapter-row">
                  <a (click)="onChapterClickFR(item)" class="chapter-link">Chapitre : {{ item.number }}</a>
                </div>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
