.chapter-list {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 75px;
}

.follows-button-unfollow {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 5vw;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.follows-button-follow {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 5vw;
    background-color: #cf2020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.name-manga {
    margin-top: 100px;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 10px;
}

.chapter-list h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.chapter-row:nth-child(even) {
    background-color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chapter-link {
    text-decoration: none;
    color: #007bff;
}

.chapter-link:hover {
    color: #0056b3;
}

.chapter-list h2 {
    margin-top: 0;
}

.chapter-body {
    vertical-align: top;
    background-color: #f2f2f2;
    padding-top: 10px;
}
