<header class="header">
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a (click)="onClickGoHome()" routerLink="/home" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a (click)="onClickGoFollows()" routerLink="/follows" class="nav-link">Favorie</a>
        </li>
        <li class="nav-item">
          <a (click)="onClickGoLastUpdated()" routerLink="/lastUpdated" class="nav-link">Dernières mises à jour</a>
        </li>
        <li class="nav-item search-item">
          <input class="search-input" type="text" [(ngModel)]="searchQuery" (keyup.enter)="onMangaKeyUp()" placeholder="Entrez un titre...">
        </li>
      </ul>
    </nav>
  </header>
  